<div class="container py-4">
	<form class="form-signin">
		<spinner ng-if="loading"></spinner>
		<div ng-if="!loading && error" class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>{{error.statusText}}</strong> {{ error.data.message || error.data.error}}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<span ng-if="!loading">
		    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
		    <label for="inputEmail" class="sr-only">Email address</label>
		    <input type="text" id="inputEmail" class="form-control" placeholder="Email" ng-model="email" required autofocus>
		    <label for="inputPassword" class="sr-only">Password</label>
		    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
		    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login({email:email,password:password})">Sign in</button>
		</span>
	</form>
</div>